body{
    padding:0 50px;
    margin: 0 auto;
    background: url(http://nzalaw.com/images/nza_background.jpg);
}

#main{
    margin: 0 auto 50px;
    width: 940px;
    padding: 20px;
    background:white;
    box-shadow: 0 0 15px black;
    min-height: 900px;
    
}


.main-content{
    width: 100%;
    display:flex;
    margin: 0;
    display:flex;
    justify-content: space-between;
    padding:0
}


.sidebar{
    color: white;
    width: 200px;
    padding: 1em;
    background: #6B2A28;
}


.sidebar ul{
    list-style: none;
    padding:0;
}

.sidebar-link{
    color: white;
    
}

.sidebar-link h4{
    padding-bottom: 5px;
    border-bottom: 1px solid white
}

.sidebar-link:hover{
    color:white;
    font-weight: bold;
    text-decoration: none;

}

.smaller-text{
    font-size: .75em;
    padding: 0;
}
.content-center{
    position: relative;
    width:366px;
}



.content-right{
    background:#D7CEC5;
    padding: .5em;
}

.content-right ul{
    padding: 0;
    font-size: .75em;
    margin-left:
}

.content-right ul img{
    margin: auto;
}
.caption{
    margin-top: 1em;
    margin: auto;
}

.navbar{
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.navbar ul{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between
}