html{
    box-sizing: border-box
}



body{
    width: 75%;
    height: 90vh;
    margin: auto;
    box-shadow: 0 0 10px 5px gray;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* #header-box{
    padding-right: 0;
    padding-left: 0;
} */

.header-nav{
    margin: 10px auto;
    display:table;
    /* width: 100%; */
    /* text-align: justify; */
    /* border-top: solid black 1px; */
    /* border-bottom: solid black 1px; */
}

.header-nav ul{
    list-style: none;
    /* display: block; */
    /* align-content: center; */
    margin: 0;
    padding: 0;
    min-width: 100%;

}

.header-nav ul li {
    /* float: left; */
    /* ^^^also gets line items to display horizontally */
    
    /* text-align: center; */
    display: inline;
    padding: 10px;

}

.header-nav ul li a {
    /* display: block; */
    color: black;
    /* margin: 1em; */

}

.header-nav ul li a:hover {
    color: orange;
    text-decoration: none;
}

footer {
    text-align: center;
}

.item {
    display: inline-block;
    font-size: 11px;
}

a {
    color: black;
}

a:hover {
    color: #923530;
    text-decoration: none;
}

.lines {
    color: #c0c0c0;
}

.copyright {
    color: #c0c0c0;
    font-size: 11.9px;
    padding-left: 38px;
}

.black-line {
    margin-bottom: 0px;
    border-color: black;
}

.black-line-bot{
    margin-top: 0px;
    border-color: black;
}

.left-box {
    text-align: left;
    margin: 0 auto;
    position: fixed;
    padding-left: 10px;
}
.right-box {
    width: 900px;
    z-index: 9;
    text-align: left;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.company-color {
    background-color: darkred;
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
}

.li {
    background-image: url(arrow.gif);
    background-repeat: no-repeat;
    background-position: 100% .4em;
    padding-right: .6em;
    margin: 1em 0;
}