:root{
    --hover-link: rgb(129, 38, 5);

}

* {
    box-sizing: border-box
    margin:0;
    padding:0;
}

body{
    padding:0 50px;
    margin: 0 auto;
    background: url(http://nzalaw.com/images/nza_background.jpg);
}

#main{
    margin: 0 auto 50px;
    width: 940px;
    padding: 20px;
    background:white;
    box-shadow: 0 0 15px black;
    min-height: 900px;
    
}
.logo{
    padding: 2em 0 2em 2em
}

nav{
    position: relative;
    height: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
}

nav ul{
    position: relative;
    top: 3px;
    list-style: none;
    display: flex;
    justify-content: space-around;

}

nav ul li{
    position: relative;
    display: inline;
}

.seperator::before{
    position: absolute;
    content: '';
    height: 20px;
    width: 1px;
    background: 1px lightgray;
    left:-40px

}

nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

nav a:hover{
    text-decoration: none;
    color: var(--hover-link);
}
.main-content{
    width: 100%;
    display:flex;
    margin: 0;
    justify-content: space-between;
    padding:0
}


.main-content{
    width: 100%;
    margin: 0;
    display:flex;
    justify-content: space-between;
    padding:0
    min-height: 900px;
}


.sidebar{
    max-height: 400px;
    color: white;
    width: 225px;
    padding: 1em;

}


.sidebar ul{
    list-style: none;
    padding:0;
}

.sidebar p1 {
    font-size: 10px;
    font-weight: bold;
}
.sidebar p {
    font-size: 10px;
}


.sidebar-link{
    color: white;
    
}
.sidebar-link h4{
    padding-bottom: 5px;
    border-bottom: 1px solid white
}

.sidebar-link:hover{
    color:white;
    font-weight: bold;
    text-decoration: none;

}

.smaller-text{
    font-size: .75em;
    padding: 0;
}
.content-center{
    position: relative;
    width:370px;
}

.content-center p1{
    color: black;
    font-weight: bold;
    font-size: .90em;
}
.content-center p {
    color: black;
    font-size: 13px;
}

.content-right{
    width: 250px;
    padding: 1em;
    background: white;
}

